backend/bin/
backend/obj/
frontend/node_modules
frontend/.env_example
frontend/.env_forlocalhost
frontend/database_dump_meals.sql
frontend/package-lock.json
.gitignore
backend/appsettings.Development.json
